$_sidebar-administrator-bg: #39425c;
$_sidebar-instructor-bg: #3cb371;
$_sidebar-user-bg: #f1b034;

.sidebar {
  display: flex;
  position: sticky;
  top: 0;
  flex-shrink: 0;
  flex-direction: column;
  width: 220px;
  height: 100dvh;

  &.is-administrator {
    background-color: $_sidebar-administrator-bg;
  }

  &.is-instructor {
    background-color: $_sidebar-instructor-bg;
  }

  &.is-user {
    background-color: $_sidebar-user-bg;
  }
}

.sidebar__logo {
  border-bottom: 1px solid #fff;
  padding: 20px;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
}

.sidebar__list {
  margin: 0 0 auto;
  padding: 0;
  list-style: none;
}

.sidebar__list-link {
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
}
