%p #{@user.name} 様

%p お振込の確認ができました。
%p 購入されたチケットの詳細は以下の通りです。

%p =====================================================

%p= @purchase.ticket_type_text

%p 合計金額：#{number_to_currency(@purchase.total_amount, unit: t('number.currency.tax_included_format.unit'))}
%p =====================================================

%p ご購入されたチケットを配布させていただきましたので、ご確認ください。

%p チケットが発行されない場合は、お手数ですがお問い合わせください。
