%p #{@user.name} 様

%p この度はご注文いただき、誠にありがとうございます。
%p ご注文内容は以下の通りです。


%p =====================================================

%p= @purchase.ticket_type_text

%p 合計金額：#{number_to_currency(@purchase.total_amount, unit: t('number.currency.tax_included_format.unit'))}
%p =====================================================


%h3 ご入金先
%p 以下の口座にお振込みをお願いいたします。

%p 銀行名：○○銀行
%p 支店名：○○支店
%p 口座番号：1234567

%p ご入金が確認され次第、チケットの発行をいたします。
%p 何かご不明な点がございましたら、お気軽にお問い合わせください。
